// Default colors
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #757575;
$color-grey-light: #bab7b7;
$color-gray-input: #acabab;

// Selected colors
$color-white-input-bg: #f4f4f4;
$color-white-bg: #f9f9f9;
$color-blue: #003ca6;
$color-red: #fb3b3b;
