body:has(.page-authorize) .footer,
body:has(.page-authorize) .copyright {
  display: none;
}

.page-authorize {
  .form__authorize--heading {
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
  }

  .new-user {
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
    * {
      font-size: 14px;
      line-height: 16px;
    }

    a {
      color: $color-blue;
    }
  }
}

.authorize__img-block {
  max-width: 925px;
  width: 100%;
}

.authorize__functional-block {
  @include flex-column();
  max-width: 300px;
  width: 100%;
  align-self: flex-end;
  gap: 144px;

  .wrapper {
    width: 100%;
  }
}

.form__authorize {
  @include flex-column();
  .input__required {
    position: relative;
    max-width: 295px;
    width: 100%;
    z-index: 1;
    &.m-top {
      margin-top: 8px;
    }
    &.m-bottom {
      margin-bottom: 8px;
    }

    &::after {
      @include flex();
      position: absolute;
      content: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.32489 19.7449L8.56489 14.4335L4.44189 10.8626L9.87289 10.3927L11.9999 5.38324L14.1269 10.3917L19.5569 10.8616L15.4339 14.4325L16.6749 19.7439L11.9999 16.9248L7.32489 19.7449Z' fill='%23E7E7E7'/%3E%3C/svg%3E%0A");
      top: 18px;
      right: 16px;
      width: 16px;
      height: 16px;
      z-index: 10;
    }
  }
  input {
    font-family: $font-family-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid $color-grey-light;
    border-radius: 5px;
    background-color: $color-white-input-bg;
    color: $color-gray-input;
    max-width: 295px;
    width: 100%;
    padding: 13px 12px;

    &[type='email'],
    &[type='name'],
    &[type='password'] {
      padding-right: 35px;
    }

    &:active,
    &:focus {
      color: $color-black;
    }
  }
  input + input,
  .input__required + .input__required {
    margin-top: 8px;
  }

  &--heading {
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    margin-top: 34px;
    margin-bottom: 34px;
    text-align: center;
  }

  &--text {
    text-align: center;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }

  .btn {
    max-width: 295px;
    width: 100%;
  }

  .password__lost {
    align-self: flex-end;
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 14px;
    color: $color-blue;
  }
}

// media

@include tablet {
  body:has(.page-authorize) .header .navbar-toggler {
    display: none;
  }
  body:has(.page-authorize) .header,
  body:has(.page-authorize) .header .navbar {
    background-color: transparent !important;
  }

  body:has(.page-authorize) #root {
    background: linear-gradient(
      88.23deg,
      rgba(242, 247, 255, 0.2) 44.39%,
      rgba(0, 60, 166, 0.2) 122.41%
    );
  }

  body:has(.page-authorize) .header .logo__main {
    position: relative;
    margin: 0 auto;
    z-index: 100;
  }
  body:has(.page-authorize) .header .logo__main:before {
    position: absolute;
    content: '';
    background-color: $color-blue;
    height: 1px;
    width: 143px;
    left: 50%;
    transform: translateX(20%);
    z-index: 1;
  }
  body:has(.page-authorize) .header .logo__main:after {
    position: absolute;
    content: '';
    background-color: $color-blue;
    height: 1px;
    width: 143px;
    right: 50%;
    transform: translateX(-20%);
    z-index: 1;
  }

  .page-authorize {
    height: calc(100vh - 98px);

    .authorize__img-block {
      display: none;
    }

    .authorize__functional-block {
      margin: 0 auto;
      gap: 90px;
    }

    .form__authorize--heading.t-small {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
