.sale {
	display: grid; 
 
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	
	gap: 5px;
	height: 100%;

 }
   
 #item-0 {
 
	background-color: #B6BE7D; 
	grid-row-start: 1;
	grid-column-start: 1;
 
	grid-row-end: 3;
	grid-column-end: 3;
	
 }
 #item-1 {
 
	background-color: #9D6AC7; 
	grid-row-start: 1;
	grid-column-start: 3;
 
	grid-row-end: 2;
	grid-column-end: 4;
	
 }
 #item-2 {
 
	background-color: #FE6756; 
	grid-row-start: 2;
	grid-column-start: 3;
 
	grid-row-end: 3;
	grid-column-end: 4;
	
 }
 #item-3 {
 
	background-color: #9FA789; 
	grid-row-start: 1;
	grid-column-start: 4;
 
	grid-row-end: 3;
	grid-column-end: 5;
	
 }