.sale {
  @include flex(space-between, flex-start);
  padding-bottom: 20px;
  &--wrapper {
    @include flex(space-between, stretch);
    flex-wrap: wrap;
    gap: 20px;
    @include tablet {
      justify-content: center;
    }
  }
  @include tablet {
    justify-content: center;
    gap: 16px;
  }
}
