.orders {
  font-family: Montserrat;
  margin-left: 20px;
  h1 {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    color: $color-black;
  }
  .state {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #757575;
    .button_state {
      font-size: 14px;
      font-weight: 400;
      color: $color-black;
      padding: 10px;
      &.active {
        font-weight: 700;
        color: $color-blue;
      }
    }
  }

  .orders_group {
    padding-left: 10px;
    padding-top: 10px;

    .orders_list {
      .order {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 10px;
        margin-bottom: 5px;
        box-shadow: 0px 3px 3px 0px rgba(0, 60, 166, 0.15);
        .order_bold {
          padding: 10px;
          font-size: 16px;
          font-weight: 600;
        }
        .order_number {
          display: flex;
          flex-direction: column;
          border-right: 1px solid rgba(0, 60, 166, 0.15);
          min-width: 184px;
          padding: 5px;
        }
        .order_total {
          display: flex;
          flex-direction: column;
          border-right: 1px solid rgba(0, 60, 166, 0.15);
          min-width: 184px;
          padding: 5px;
        }
        .order_quantity {
          display: flex;
          flex-direction: column;
          border-right: 1px solid rgba(0, 60, 166, 0.15);
          min-width: 184px;
          padding: 5px;
        }
        .order_status {
          display: flex;
          flex-direction: column;
          border-right: 1px solid rgba(0, 60, 166, 0.15);
          min-width: 184px;
          padding: 5px;
        }
        .order_date {
          display: flex;
          flex-direction: column;
          min-width: 184px;
          padding: 5px;
        }

        .details_button {
          width: 100%;
          text-align: left;
          font-size: 14px;
          font-weight: 400;
        }

        .order_details {
          width: 100%;
          h2 {
            text-align: left;
            font-size: 14px;
            font-weight: 400;

            color: $color-black;
          }
          .orders_details {
            .product_details {
              display: flex;
              justify-content: space-between;
              .img_name {
                display: flex;

                .icon_product {
                }
                .name_product {
                  display: flex;
                  flex-direction: column;
                  padding: 5px 0px 10px 20px;
                  text-align: left;
                  h3 {
                    font-size: 14px;
                    font-weight: 500;
                  }
                  .color_product {
                    font-size: 12px;
                    font-weight: 400;
                    color: $color-grey;
                  }
                  .quantity_ordered {
                    font-size: 12px;
                    font-weight: 400;
                    color: $color-grey;
                  }
                }
              }

              .order_price {
                display: flex;
                flex-direction: column;
                margin-left: auto;
                align-self: center;
                .order_article {
                  font-size: 12px;
                  font-weight: 400;
                  color: $color-grey;
                  padding-bottom: 10px;
                }
                .order_product_price {
                  font-family: Montserrat;
                  font-size: 18px;
                  font-weight: 500;
                  color: $color-blue;
                }
              }
            }
          }
        }
      }
    }
  }
}

.order-status-green {
  color: green;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
}

.order-status-yellow {
  color: rgb(2, 2, 225);
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
}

.order-status-red {
  color: red;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
}

.order-status-black {
  color: black;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .orders {
    width: 100%;
    margin: 0;
    padding: 0;
    .order {
      font-size: 14px;
      .order_number {
        width: 100%;
        border-right: 1px solid white;
      }
      .order_total {
        width: 100%;
        border-right: 1px solid white;
      }
      .order_quantity {
        width: 100%;
        border-right: 1px solid white;
      }
      .order_status {
        width: 100%;
        border-right: 1px solid white;
      }
      .order_date {
        width: 100%;
      }
    }
  }
}
