.catalog {
  width: 100%;
  @include flex(space-between, flex-start);
  gap: 20px;

  // sidebar
  &-sidebar {
    @include flex-column(flex-start, flex-start);
    flex: 1;
    gap: 10px;
    max-width: 246px;

    &__section {
      border-bottom: 1px solid $color-black;
      padding: 10px 8px 16px;
      width: 100%;
    }

    &__title {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 16px;
    }
  }

  // content
  &-content {
    max-width: 1020px;
    position: relative;
    width: 100%;

    &__wrapper {
      @include grid(repeat(5, auto), auto);
      width: 100%;
      gap: 20px;
      @include tablet {
        grid-template-columns: repeat(3, auto);
        gap: 10px;
      }

      @include tablet-sm {
        grid-template-columns: repeat(2, auto);
      }
    }

    // paggination
    .pagination {
      display: none;
      justify-content: center;
      align-items: center;
      margin: 20px auto;
      gap: 10px;

      &.show {
        display: flex;
      }
    }

    .pagination button {
      background-color: $color-blue;
      border: 1px solid $color-blue;
      border-radius: 3px;
      color: $color-white;
      font-family: $font-family-montserrat;
      font-size: 16px;
      line-height: 20px;
      padding: 10px;
      height: 40px;
      cursor: pointer;
      transition: background-color 0.3s;
      min-width: 40px;
    }

    .pagination button:hover {
      background-color: $color-lightblue;
      border-color: $color-lightblue;
    }

    .pagination button:disabled {
      background-color: $color-white-bg;
      color: $color-grey;
      border: 1px solid $color-grey;
      cursor: not-allowed;
    }

    .pagination button.active {
      background-color: $color-darkblue;
      font-weight: 700;
    }

    .pagination button.active:hover {
      background-color: $color-lightblue;
    }
  }
}

// filters
.filter {
  &__input-range {
    gap: 10px;
    input[type='range'] {
      width: 100%;
      margin-bottom: 20px;
    }

    .filter__input-wrapper {
      @include flex(space-between);
    }

    // hide input number arrows
    /* Chrome, Safari, Edge, Opera */
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type='number'] {
      -moz-appearance: textfield;
    }

    input[type='number'] {
      width: 75px;
      border: 1px solid $color-blue;
      color: $color-black;
      border-radius: 3px;
      text-align: center;
    }
  }

  &__check-list {
    @include flex-column(center, flex-start);
    gap: 10px;

    label {
      @include flex(flex-start);
      width: 100%;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      font-family: $font-family-inter;
    }

    input[type='checkbox'] {
      margin-right: 7px;
      max-width: 20px;
      width: 100%;
      height: 20px;
    }
  }
}
