.grid_home {
  display: flex;
  justify-content: space-between;
  .sidebar {
    width: 300px;
    //нічого спільного з Home.tsx, як дізнатись що є .sidebar ?
  }
}

@media screen and (max-width: 376px) {
  .sidebar {
    display: none;
  }
}

