@import '../../scss/utils/_variables.scss';

.bestsellers {
  .name {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid $color-black;
    padding-bottom: 5px;
  }
  .bloc_card {
    padding: 10px ;
    .card {
      .chair {
        position: relative;

      }
      .heart {
        position: absolute;
        padding-top: 10px;


      }
    }
  }
}
