.bestsellers {
  @include flex(space-between);
  border-bottom: 1px solid $color-black;
  padding-bottom: 32px;
  &--wrapper {
    @include flex(space-between, stretch);
    flex-wrap: wrap;
    gap: 20px;
    @include tablet {
      justify-content: center;
    }

    .product-card {
      max-height: 534px;
    }
  }

  @include tablet {
    justify-content: center;
    gap: 16px;
  }
}
