.modal--overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  &.show {
    display: block;
  }
}
.add-to-cart-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 960px;
  width: 100%;
  background-color: $color-white-bg;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  &.show {
    display: block;
  }

  @include tablet {
    max-width: 720px;
  }
  @include tablet-sm {
    max-width: 100%;
    height: 100%;
  }

  .modal__heading {
    @include flex(space-between);
    border-bottom: 1px solid $color-grey;
    padding-bottom: 22px;
    margin-bottom: 24px;

    @include tablet {
      padding-bottom: 12px;
      margin-bottom: 12px;
    }

    .modal__title {
      font-family: $font-family-inter;
      font-size: 36px;
      line-height: 44px;
      font-weight: 500;
      margin-bottom: 0;

      @include tablet {
        font-size: 20px;
        line-height: 24px;
      }
    }

    .modal__close {
      font-size: 32px;
      width: 24px;
      height: 24px;
      text-align: center;
      cursor: pointer;
    }
  }

  .modal__content {
    @include flex(space-between);
    gap: 40px;

    @include tablet-sm {
      flex-direction: column;
      gap: 25px;
      height: calc(100% - 38px);
      justify-content: flex-start;
    }

    .modal__details {
      @include flex;
      gap: 20px;
      max-width: 358px;
      width: 100%;

      .modal__media {
        max-width: 85px;
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }

      .modal__details-list {
        @include flex-column(center, flex-start);
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        gap: 10px;
        @extend %font-basic;

        .details-list__title {
          font-weight: 500;
        }
        .details-list__color,
        .details-list__code {
          font-size: 12px;
          line-height: 14px;
          color: $color-grey;
        }
        .details-list__price {
          font-weight: 500;
          color: $color-blue;
        }
      }
    }

    .modal__actions {
      @include flex;
      width: 120px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 600;

      button {
        @include flex;
        border: none;
        color: $color-blue;
        width: 30px;
        height: 30px;
        font-size: 26px;
        line-height: 30px;
        border-radius: 3px;
        background-color: $color-grey-light;
        &:active {
          color: $color-lightblue-border;
        }
      }

      input {
        width: 50px;
        text-align: center;
        border: none;
        background-color: $color-white-bg;
      }
    }

    .modal__total-info {
      @extend %font-basic;
      max-width: 358px;
      width: 100%;

      @include tablet-sm {
        margin-top: auto;
      }

      .modal__total-info--item {
        @include flex(space-between);
        font-weight: 500;
      }
      .modal__total-info--total-sum {
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
      }
      .button__white {
        margin-top: 8px;
      }
    }
  }
}
