.search-page {
  padding: 20px;
  font-family: Arial, sans-serif;

  .search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    .search_input {
      input[type='text'] {
        padding: 10px;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid #ccc;
        max-width: 400px;
        width: 100%;
        margin-right: 20px;
      }

      select {
        padding: 10px;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid #ccc;
        max-width: 295px;
        width: 100%;
      }
    }

    .checkboxes {
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        font-size: 14px;
        color: #333;
      }
    }
  }

  .search-results {
    .results-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      gap: 20px;
    }

    .pagination {
      display: flex;
      justify-content: center;
      margin: 20px 0;
    }
    
    .pagination button {
      background-color: $color-blue;
      color: white;
      border: none;
      padding: 10px 15px;
      margin: 0 5px;
      cursor: pointer;
      font-size: 16px;
      border-radius: 4px;
      transition: background-color 0.3s;
    }
    
    .pagination button:hover {
      background-color: #0056b3;
    }
    
    .pagination button:disabled {
      background-color: #e0e0e0;
      cursor: not-allowed;
    }
    
    .pagination button.active {
      background-color: #022b58;
      font-weight: bold;
    }
    
    .pagination button.active:hover {
      background-color: #016fed;
    }
    
  }

  
}
