.header {
  margin-bottom: 16px;
  .navbar-toggler {
    border: none;
    padding: 0;
  }

  // main logo
  .logo__main {
    @include flex();
    padding: 0;
    margin-right: 20px;
    max-width: 85px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__navigation--list {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 62px;
    border-bottom: 1px solid $color-blue;
    margin-bottom: 4px !important;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    .nav-link {
      @include flex;
      gap: 10px;
      font-size: 16px;
      line-height: 20px;
      color: $color-grey;
      padding: 12px 0 !important;
    }

    .nav-link.active {
      color: $color-black;
      font-weight: 400;

      svg path {
        stroke: $color-black;
      }
    }
    .catalog-link {
      font-weight: 600;
      color: $color-blue;
      svg path {
        stroke: $color-blue;
      }

      &:hover {
        color: $color-lightblue-border;
        svg path {
          stroke: $color-lightblue-border;
        }
      }
    }
  }
}
