.header {
  margin-bottom: 16px;
  .navbar-toggler {
    border: none;
    padding: 0;
  }

  // main logo
  .logo__main {
    @include flex();
    padding: 0;
    margin-right: 20px;
    max-width: 85px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__navigation--list {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 62px;
    border-bottom: 1px solid $color-blue;
    margin-bottom: 4px !important;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    .nav-link {
      @include flex;
      gap: 10px;
      font-size: 16px;
      line-height: 20px;
      color: $color-grey;
      padding: 12px 0 !important;
    }

    .nav-link.active {
      color: $color-black;
      font-weight: 400;

      svg path {
        stroke: $color-black;
      }
    }
    .catalog-link {
      font-weight: 600;
      color: $color-blue;
      svg path {
        stroke: $color-blue;
      }

      &:hover {
        color: $color-lightblue-border;
        svg path {
          stroke: $color-lightblue-border;
        }
      }
    }
  }

  // search form

  .header__search {
    align-self: flex-end;
    @include flex();
    gap: 67px;
  }

  .form--search {
    border-bottom: 1px solid $color-blue;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    label {
      @include flex(space-between);
      padding: 7px 10px;
      color: $color-grey;
    }

    input[type='search'] {
      color: $color-grey;
      line-height: 20px;
      border: none;
      border-radius: 0 !important;
      padding: 0 !important;
      background-color: $color-white-bg;
    }
  }

  @include tablet {
    .header__navigation--list {
      display: none;
    }
    .header__search {
      flex-direction: column;
      gap: 24px;
      width: 100%;
      margin-top: 24px;
      margin-bottom: 24px;
      .form--search {
        width: 100%;
      }
      .user__actions {
        margin-left: auto;
      }
    }
  }
}
