.header .catalog__menu {
  display: none;
  @include tablet {
    @include flex-column();
    width: 100%;
  }
}
.catalog__menu {
  overflow-y: scroll;
  max-height: 574px;
  transition: all 0.5s ease-out;
  @include tablet {
    max-height: 100%;
  }
  &--title {
    font-weight: 700;
    font-size: 20px;
    color: $color-blue;
    @include tablet {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .category-list {
    @include flex-column();
    list-style: none;
    padding: 0;
    counter-reset: list;
    gap: 25px;

    @include tablet {
      width: 100%;
    }

    .category-list__item {
      position: relative;
      @include flex-column(flex-start, flex-start);
      gap: 24px;
      cursor: pointer;
      border-bottom: 1px solid $color-black;
      font-size: 16px;
      font-weight: 400;
      padding: 10px;
      width: 100%;

      @include tablet {
        flex-wrap: wrap;
      }

      &:hover,
      &:hover .category-list__link {
        color: $color-blue;
        font-weight: 600;
        border-bottom-color: $color-blue;
      }

      .category-list__heading {
        @include flex;
        width: 100%;
        .category-list__number {
          margin-right: 24px;
        }

        .category-list__direction-arrow {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 16px;
          height: 16px;
          margin-left: auto;

          &.rotate {
            transform: rotate(180deg);
          }
        }
      }

      .category-list__link {
        font-size: 16px;
        font-weight: 400;
        color: $color-black;
        text-decoration: none;
      }
    }
  }

  // підкатегорії
  .category-list__hidden-column {
    display: none;
    gap: 8px;
    // max-width: 295px;
    width: 100%;
    z-index: 10;
    padding: 8px 24px;
    background-color: $color-white-bg;
    box-shadow: 0px 3px 3px 0px rgba(4, 72, 173, 0.25);

    .subcategory-list {
      @include flex-column(flex-start);
      list-style: none;
      padding: 0;

      li {
        padding: 10px;
        width: 100%;

        .subcategory-list__link {
          font-size: 14px;
          line-height: 18px;
        }

        &:hover a {
          color: $color-blue;
          font-weight: 600;
        }
      }
    }
  }
  .category-list__hidden-column.show {
    display: flex;
  }
}
