body {
  @include flex-column(flex-start, center, column);
  font-family: $font-family-montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  color: $color-black;
  background-color: $color-white-bg;
  overflow-x: hidden;
}

#root {
  width: 100%;
}

// reset
a {
  font-size: 16px;
  font-weight: 400;
  color: $color-black;
  text-decoration: none;
}

// section
.section {
  &__heading {
    @include flex(space-between, center);
    font-family: $font-family-inter;
    margin-top: 36px;
    margin-bottom: 32px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid $color-black;
    @include tablet {
      padding-left: 8px;
      padding-right: 8px;
    }
    * {
      font-family: $font-family-inter;
    }

    &--title {
      color: $color-black;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
    }

    &--link {
      color: $color-grey;
      font-size: 24px;
      line-height: 30px;
      @include tablet {
        font-size: 16px;
      }
      &:hover {
        color: $color-blue;
      }
    }
  }
}

// page section
.page-section {
  @include flex-column();
  &__breadcrumbs {
    @include flex(flex-start);
    gap: 4px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    color: $color-grey;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid $color-black;
    @include tablet {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 0;
    }
  }
}
