.user__actions {
  @include flex();
  gap: 30px;

  a {
    @include flex();
    width: 24px;
    height: 24px;
  }

  .icon-cart,
  .icon-profile {
    fill: $color-blue;
    &.active {
      fill: $color-black;
    }
  }
  .icon-favorites {
    fill: transparent;
    stroke-width: 1.5px;
    stroke: $color-blue;
  }

  .active {
    .icon-favorites,
    .icon-cart,
    .icon-profile {

      fill: $color-black;
    }
    .icon-favorites{
      stroke: $color-black;

    }
  }
}
